.feature-products {
  &__heading {
    display: flex;
    height: 243px;
    padding-top: 50px;
    align-items: center;
    justify-content: space-between;
    .title {
      font-size: 56px;
      font-family: "CormorantGaramond-Bold";
      color: rgb(51, 51, 51);
      font-weight: bold;
      line-height: 0.5;
    }
    .view-more {
      font-size: 14px;
      margin-right: 9px;
      letter-spacing: 0.02em;
      margin-bottom: -33px;
      font-family: "FiraSans-Bold";
      color: rgb(51, 51, 51);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.714;
      text-decoration: none;
      display: flex;
      align-items: center;
      &:after {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: 12px;
        background: url("images/icons/view-more.png") no-repeat 0 0;
      }
    }
  }
  &__body {
  }
}
