.brands {
  height: 200px;
  display: flex;
  .brands__list {
    margin-top: -15px;
    .brand {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 100%;
      }
    }
  }
}
